<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="stylesheet" typle= "text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <title>Menu</title>
</head>
    <body class="preload">
        {% include 'nav.html' %}
        <img src="{{url_for('static', filename='/graphics/menu_header.svg')}}" style="margin-top:20%"/>

        <div class="info">
            <div class="container">
                <a href="{{url_for('foodMenu')}}"><img src="{{url_for('static', filename='/graphics/food_menu.svg')}}" /></a>
            </div>
            <div class="container">
                <a href="{{url_for('drinksMenu')}}"><img src="{{url_for('static', filename='/graphics/drink_menu.svg')}}" /> </a>
            </div>
            <div class="container">
                <a href="{{url_for('sidesMenu')}}"><img src="{{url_for('static', filename='/graphics/sides_menu.svg')}}" /></a>
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
</html>