    <header class="header">
        <button class="header__button" id="btnNav" type="button" onclick="navButton()">
            <i class="material-icons">menu</i>
        </button>
        <img src="{{url_for('static', filename='/graphics/logo_white_dim.svg')}}" align="middle" width="300px" height="100px" />
    </header>
        <nav class="nav">
            <div class="nav__links">
                <button class="header__button" id="btnClose" type="button" style="color: #AA706A"onclick="navButton()">
                    <i class="material-icons">close</i>
                </button>
                <a href="/" class="nav__link">
                    Home
                </a>
                <a href="{{url_for('menu')}}" class="nav__link">
                    Menu
                </a>
                <a href="{{url_for('aboutUs')}}" class="nav__link">
                    About us
                </a>
            </div>
            <div class="nav__overlay"></div>
        </nav>
            <script type="text/javascript">
                    window.addEventListener("load", () => {
                        document.body.classList.remove("preload");
                    });

                    function navButton() {
                        const nav = document.querySelector(".nav");

                        if (nav.classList.contains("nav--open")){
                                nav.classList.remove("nav--open");
                        }
                        else{
                                nav.classList.add("nav--open");
                        }
                    }
            </script>
